body {
  margin: 0;
  background-color: whitesmoke;
}

header {
  height: 50px;
  display: flex;
  align-items: center;
  background: #6441a5;
  background: -webkit-linear-gradient(right, #2a0845, #6441a5);
  /* width: 50%; */
}

header > h1 {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.button {
  font-size: 30px;
  text-align: center;
}

.inputBox {
  font-size: 30px;
  text-align: right;
}
